body {
    background-color: antiquewhite;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: azure;
}

.title {
    text-align: center;
    width: 100%;
    padding: 2%;
    background-color: bisque;
    color: blanchedalmond;
}

.bottom {
position:fixed;
width: 50%;
bottom: 0;

}